@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@300&display=swap');
header.header {
  grid-area: header;
}
main.main {
  grid-area: main;
}
section.gg {
  grid-area: gg
}
section.hh {
  grid-area: hh;
}
footer.footer {
  grid-area: footer;
}
body {
  background-color: black;
  color: white;
  font-family: Oswald;
}
h1 {
  font-family: Koulen;
}
header {
  background-color: rgba(231, 194, 126, 0.733);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  font-size: 4rem;
}
header > nav > ul >li {
  padding-right: 2rem;
}
img {
  max-width: 25rem;
}
li {
  list-style: none;
}
h2 {
  font-size: 6rem;
  font-family: Koulen;
  text-align: center;
  background-color:rgba(231, 194, 126, 0.733);
  color: black;
}
h3 {
  font-size: 3rem;
  font-family: Koulen;
  margin-bottom: 2rem;
}
p {
  font-size: 2rem;
}
section > ul {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 48rem 47rem;
  justify-items: center;
}
div > img {
  margin-top: 0rem;
}
div > h3 {
  margin-top: 0rem;
  margin-left: 1rem;
}
div > p {
  margin-left: 2rem;
}
section.gg > section > ul > li > div > p {
  margin-top: -2rem;
}
section.gg > section > ul > li > div > p.link {
  margin-top: -1rem;
}
section.hh > section > ul > li > div > p {
  margin-top: -2rem;
}
section.hh > section > ul > li > div > p.link {
  margin-top: -1rem;
}
section.hh {
  margin-top: -5rem;
}
div {
  background-color:rgba(231, 194, 126, 0.733);
  margin-right: 5rem;
  padding-bottom: .001rem;
  max-width: 25rem;
}
footer > p {
  text-align: center;
}
a {
  color: rgba(167, 47, 103, 0.733)
}
@media (min-width: 1600px) {
  header > nav > ul {
    display: flex;
  }
  section > ul {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 52rem 48rem;
  }
  h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  img {
    max-width: 34rem;
  }
  div {
    max-width: 34rem;
  }
  section.gg {
    margin-bottom: 11rem;
  }
}
@media (min-width: 1920px) {
  header {
    font-size: 2rem;
    max-height: 7rem;
  }
  h1 {
    font-size: 6rem;
  }
  h2 {
    max-height: 7rem;
    font-size: 4rem;
    margin-right: 4.5rem;
  }
  body {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 9rem 4rem 4rem 4rem;
    grid-template-areas:
    "header header header"
    "main main footer"
    "main main footer"
    "main main footer";
  }
  footer {
    margin-top: 1rem;
  }
}
@media (min-width: 4096px) {
  body {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 18rem 120rem 135rem 25rem;
    grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer";
  }
  header {
    max-height: 15rem;
    font-size: 5rem;
  }
  h1 {
    font-size: 15rem;
  }
  h2 {
    margin-right: 0rem;
    font-size: 10rem;
    max-height: 17rem;
  }
  section > ul {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 103rem;
  }
  div > h3 {
    font-size: 7rem;
    margin-left: 2rem;
  }
  p {
    font-size: 5rem;
  }
  img {
    max-width: 50rem;
  }
  div {
    max-width: 50rem;
  }
  div > p {
    margin-left: 6rem;
  }
}