@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@300&display=swap');
/* grid-names */
header.header {
  grid-area: header;
}
main.main {
  grid-area: main;
}
section.bigsec {
  grid-area: bigsec;
}
aside.aside {
  grid-area: aside;
}
section.smallsec {
  grid-area: smallsec;
}
footer.footer {
  grid-area: footer;
}
/* body */
body {
  background-color: black;
  color: white;
  font-family: Oswald;
}
/* ~750-body-text*/
h1 {
  font-family: Koulen;
}
h2 {
  font-family: Koulen;
  font-size: 3rem;
  color: white
}
h3 {
  font-family: Koulen;
  font-size: 3rem;
  text-align: center;
  background-color:rgba(167, 47, 103, 0.733);
  color: white;
  margin-bottom: 5rem;
}
h4 {
  font-family: Koulen;
  font-size: 2rem;
}
p {
  font-size: 2rem;
}
/* ~750-body-layout */
header {
  background-color: rgba(167, 47, 103, 0.733);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 4rem;
  margin-bottom: 5rem;
}
div > p {
  margin-left: 2.5rem;
  margin-top: -1rem;
}
section.smallsec > ul > li > div > p {
  font-size: 1.5rem;
  margin-left: 2rem;
}
li {
  list-style: none;
}
img {
  max-width: 25rem;
}
section > ul {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 48rem 48rem;
  justify-items: center;
}
div > h2 {
  margin-top: 0rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
div > h4 {
  margin-top: 0rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
div {
  background-color: rgba(167, 47, 103, 0.733);
  margin-right: 2.5rem;
  padding-bottom: .001rem;
  max-width: 25rem;
}
footer {
  text-align: center;
}
a {
  color: rgba(231, 194, 126, 0.733);
}
aside > p {
  font-size: 4rem;
  text-align: center;
}
@media (min-width: 1600px) {
  /* 1600-body-layout */
  header > nav > ul {
    display: flex;
  }
  header > nav > ul > li {
    padding: 1rem;
  }
  section > ul {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 54rem 48rem;
  }
  aside > section > ul {
    grid-template-rows: 50rem 48rem;
  }
  img {
    max-width: 34rem;
  }
  div {
    max-width: 34rem;
  }
  /* 1600-body-text */
  h3 {
    font-size: 4rem;
  }
}
@media (min-width: 1920px) {
  /* 1920-body-text */
  header {
    font-size: 3rem;
    max-height: 7rem;
  }
  h1 {
    font-size: 6rem;
  }
  h2 {
    max-height: 7rem;
    font-size: 4rem;
    margin-right: 4.5rem;
  }
  /* 1920-body-layout */
  body {
    display: grid;
    grid-template-columns: 12rem 100rem 52rem;
    grid-template-rows: 12rem 54rem 54rem 108rem 12rem;
    grid-template-areas:
    "header header header"
    "main main aside"
    "main main aside"
    "main main aside"
    "footer footer footer"
  }
  aside > section > ul {
    display: grid;
    grid-template-columns: 50rem;
    grid-template-rows: 49rem 49rem 49rem 49rem;
  }
  aside {
    margin-top: -4rem;
  }
}
@media (min-width: 4096px) {
  /* 4096-body-layout */
  body {
    display: grid;
    grid-template-columns: 12rem 100rem 143rem;
    grid-template-rows: 20rem 175rem 54rem;
    grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
  }
  main > section > ul {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90rem 48rem;
  }
  aside > section > ul {
    display: grid;
    grid-template-columns: 80rem 35rem;
    grid-template-rows: 75rem 35rem;
  }
  aside > section > ul > li > div {
    max-width: 40rem;
  }
  aside > section > ul > li > div > img {
    max-width: 40rem;
  }
  img {
    max-width: 50rem;
  }
  div {
    max-width: 50rem;
  }
  div > p {
    margin-left: 6rem;
  }
  div > h2 {
    margin-bottom: 5rem;
  }
  main > section > ul > li > div > h2 {
    margin-bottom: 7rem;
  }
  main > section > ul > li > div > p {
    margin-top: -3rem;
  }
  /* 4096-body-text */
  header {
    max-height: 15rem;
    font-size: 5rem;
  }
  h1 {
    font-size: 15rem;
  }
  h2 {
    font-size: 7rem;
    margin-left: 2rem;
  }
  h3 {
    font-size: 6rem;
  }
  p {
    font-size: 5rem;
  }
  h4 {
    font-size: 4rem;
  }
  aside > p {
    font-size: 5rem;
  }
  section.smallsec > ul > li > div > p {
    font-size: 3rem;
  }
}